<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"        "http://mybatis.org/dtd/mybatis-3-config.dtd"><configuration>    <settings>        <setting name="cacheEnabled" value="true"/>        <setting name="defaultExecutorType" value="SIMPLE"/>        <setting name="defaultStatementTimeout" value="5"/>    </settings>	<typeAliases>		<typeAlias alias="User" type="me.blog.youreme.payback.model.User"/>		<typeAlias alias="DebtHistory" type="me.blog.youreme.payback.model.DebtHistory"/>		<typeAlias alias="DebtDependency" type="me.blog.youreme.payback.model.DebtDependency"/>	</typeAliases>    <!--<mappers>-->        <!--<mapper resource="mapper/memberMapper.xml"/>-->    <!--</mappers>--></configuration>