<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="me.blog.youreme.payback.dao.DebtDependencyDAO">
	<select id="selectDebtDependency" parameterType="DebtDependency" resultType="DebtDependency" >
	    SELECT
	        creditor,
	        debtor,
	        amount
	    FROM
	        DebtDependency
	    WHERE
	        creditor == #{creditor}
	        AND debtor = #{debtor}
	</select>

    <select id="selectDebtDependencyCount" parameterType="DebtDependency" resultType="int" >
	    SELECT
	        COUNT(1)
	    FROM
	        DebtDependency
	    WHERE
	        creditor == #{creditor}
	        AND debtor = #{debtor}
	</select>

    <select id="selectDebtList" parameterType="String" resultType="DebtDependency" >
	    SELECT
	        creditor,
	        debtor,
	        amount
	    FROM
	        DebtDependency
	    WHERE
	        debtor = #{debtor}
	</select>

    <select id="selectReceivableList" parameterType="String" resultType="DebtDependency" >
	    SELECT
	        creditor,
	        debtor,
	        amount
	    FROM
	        DebtDependency
	    WHERE
	        creditor == #{creditor}
	</select>

	<insert id="insertDebtDependency" parameterType="DebtDependency">
		INSERT INTO DebtDependency (creditor, debtor, amount)
		VALUES (#{creditor}, #{debtor}, ${amount})
    </insert>

    <update id="updateDebtDependency" parameterType="DebtDependency">
        UPDATE
          DebtDependency
        SET
          amount = #{amount}
        WHERE
	        creditor == #{creditor}
	        AND debtor = #{debtor}
    </update>
</mapper>
